<div fxFlexFill fxLayout="column">
  <app-list-toolbar (add)="onAdd()"></app-list-toolbar>
  <app-general-layout fxFlex [width]="90">
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngIf="entries$ | async as entries; else loadingTemplate">
        <div *ngIf="entries?.length > 0; else emptyTemplate">
          <div
            fxFlex="25%"
            fxFlex.xs="100%"
            fxFlex.sm="33%"
            *ngFor="let entry of entries"
          >
            <mat-card class="mat-elevation-z4">
              <mat-card-title>{{ entry.title }}</mat-card-title>
              <mat-card-subtitle>{{
                authorsToLabel(entry.authors)
              }}</mat-card-subtitle>
              <!-- <img mat-card-image src="./../assets/images/mountains.jpg" /> -->
              <mat-card-content>
                <p>{{ entry.description }}</p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-icon-button (click)="onEdit(entry)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete(entry)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </app-general-layout>
</div>
<ng-template #loadingTemplate>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #emptyTemplate>EMPTY</ng-template>
