<mat-toolbar> </mat-toolbar>
<div fxLayout="row">
  <div fxFlex="15"></div>
  <div fxFlex="70">
    <table
      mat-table
      [dataSource]="datasource$ | async"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let entry">{{ entry.position }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let entry">{{ entry.name }}</td>
      </ng-container>
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef>Points</th>
        <td mat-cell *matCellDef="let entry">{{ entry.points }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div fxFlex></div>
</div>
