<div *ngIf="toggle$ | async" fxFlexFill fxLayout="column">
  <mat-drawer-container autosize fxFlex hasBackdrop="true">
    <mat-drawer #drawer mode="over">
      <mat-nav-list>
        <a
          *ngFor="let feature of features$ | async"
          mat-list-item
          [routerLink]="feature.link"
          (click)="drawer.toggle()"
          ><mat-icon *ngIf="feature.icon">{{ feature.icon }}</mat-icon
          ><span>{{ feature.name }}</span></a
        >
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
